.storesetup-edit {
    border: 5px solid #F2F2F2;
    padding: 0 25px;
}

.storesetup-edit h1 {
    color: #000;
    font-size: 32px;
    font-family: oswald;
    line-height: 20px;
}

.storesetup-edit h3, .tile h3 {
    color: #000;
    font-family: oswald;
    Font Style : 'Arial Bold';
    font-size: 14px;
}

.storesetup-edit li {
    text-align: left;
}

.storesetup-edit .row p {
    margin-bottom: 0;
}

.storesetup-edit .ship-to-label {
      margin-right: 45px;
}

.storesetup-edit .text-align-right {
    text-align: right;
}

.storesetup-edit .btn-default {
    padding: 6px 24px;
}

.storesetup-edit .nav-pills > li > a {
    color: #000;
}

.storesetup-edit .nav-pills > li.active > a, .storesetup-edit .nav-pills > li.active > a:hover, .storesetup-edit .nav-pills > li.active > a:focus {
    background-color: white;
    color: #000;
    font-weight: bolder;
}

.storesetup-edit .nav-pills > li.active {
    border-bottom: 2px solid #000;
}

.storesetup-edit .panel-default .panel-heading {
    background-color: #fff;
    border: 1px solid #D9D9D9;
}

.storesetup-edit .panel-default .panel-heading h3 {
    font-size: 22px;
}

.storesetup-edit .panel-default .panel-body {
    border: 1px solid #D9D9D9;
}

.storesetup-edit .panel-default .panel-body li {
    padding-bottom: 15px;
}

.storesetup-edit .store-setup-tab-program .form-group {
    text-align: center;
}

.storesetup-edit .store-setup-tab-program select.form-control
{
    width: 250px;
}

.storesetup-edit .store-setup-tab-program .control-label {
    text-align: left;
    white-space: nowrap;
    padding-top: 5px;
}

.storesetup-edit .store-setup-tabs > ul {
    border-bottom: 1px solid #eee;
}

.storesetup-edit .status-store {
    float: right;
    padding: 10px 0;
}

.storesetup-edit .panel-heading.panel-heading-outline {
    border-top: 10px solid #D9D9D9;
    border-right: 10px solid #D9D9D9;
    border-left: 10px solid #D9D9D9;
}

.storesetup-edit .panel-body.panel-body-outline {
    border-right: 10px solid #D9D9D9;
    border-bottom: 10px solid #D9D9D9;
    border-left: 10px solid #D9D9D9;
}

.storesetup-edit .store-setup-footer {
    padding-top: 15px;
    border-top: 1px solid #eee;
}

@media (min-width: 800px) and (max-width: 1500px) {
    .storesetup-edit .col-md-4.panel-default {
        padding: 0 10px;
    }
    .storesetup-edit .panel-default .panel-body {
        min-height: 300px;
    }
}

@media (min-width: 1500px) {
    .storesetup-edit .col-md-4.panel-default {
        padding: 0 30px;
    }
    .storesetup-edit .panel-default .panel-body {
        min-height: 225px;
    }
}

.storesetup-edit .form-horizontal .control-label {
    text-align: left;
    padding-top: 0;
}

.storesetup-edit .plain-panel {
    width: 80%;
}

.storesetup-edit .plain-panel-small {
    width: 50%;
}

.storesetup-edit .plain-panel .panel-body, .storesetup-edit .plain-panel-small .panel-body {
    min-height: 0;
}

.storesetup-edit .store-setup-tab-program .row, .storesetup-edit .plain-panel .row, .storesetup-edit .plain-panel-small .row , .modal-body .row{
    padding-bottom: 15px;
}

.storesetup-edit .plain-panel .control-label, .storesetup-edit .plain-panel-small .control-label {
    text-align: right;
}

.store-setup-tabs .plain-panel-small .control-label.text-align-left {
    text-align: left;
}

.store-setup-tabs .plain-panel-small .override-tax {
    min-width: 70px;
    padding-left: 5px;
}

.modal-lg {
    width: 80% !important;
}

.modal-content {
    padding: 10px;
}

.modal-header {
    border-bottom: 1px solid #e5e5e5;
    padding-top: 0;
    padding-bottom: 0;
}

.modal-body {
    padding: 20px;
}

.modal-body > .row {
    border-bottom: 1px solid #e5e5e5;
}

.storesetup-edit .yearbookTopSection {
    width: 80%;

}
.productDetailsImage {
    height: 100px;
    border: 1px solid #e5e5e5;
}

.pricing-tiers-wrapper h4 {
    text-transform: none;
}
.pricing-tiers-wrapper .table th , .pricing-tiers-wrapper .table td {
    border: none;
    padding-top: 0;
    padding-left: 0;
}

.pricing-tiers-wrapper .table td {
    padding-bottom: 0;
}

.pricing-tiers-wrapper .no-shade-addon.input-group-addon {
    background-color: white;
    border-color: white;
    color: black;
}

.pricing-tiers .yearbook-details {
    padding-left: 20px;
}

.pricing-tiers .row {
    width: 90%;
}

.pricing-tiers .input-group {
    width: 200px;
}

.storesetup-edit .product-enabled .row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.storesetup-edit .product-enabled thead {
    background-color: #DDD;
}

// HELPER CLASSES
.p0 {
    padding: 0;
}

.p5 {
    padding: 5px;
}

.b0 {
    border: 0;
}

.m0 {
    margin: 0;
}

.m-r0 {
    margin-right: 0;
}

.width-150 {
    width: 275px;
}

.width-275 {
    width: 275px;
}

.display-block {
    display: block;
}

.no-wrap {
    white-space: nowrap;
}

// overriding main.css from theme folder.
.storesetup-edit .store-setup-tab-general .radio-inline {
    font-size: 12px !important;

}

* * * * * * * * * * * * * * * * * *
* Drag & Drop
* * * * * * * * * * * * * * * * * *
*/.mp-drag-drop-wrapper{position:relative;width:100%;height:100%}.mp-drag-drop-wrapper .mp-drag-drop,.mp-drag-drop-wrapper .mp-drag-drop-confirm{width:100%;height:120px;border:3px dashed #AAB2BD;background-color:#EEE}.mp-drag-drop-wrapper .mp-drag-drop-confirm.has-image{border:0;background-color:transparent}.mp-drag-drop-wrapper .mp-drag-drop .mp-drag-drop-caption-wrapper .mp-drag-drop-caption{position:absolute;text-align:center;color:#8c8989;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%)}.mp-drag-drop-wrapper .mp-drag-drop .mp-drag-drop-caption-wrapper .mp-drag-drop-caption i{font-size:10px}.mp-drag-drop-wrapper .mp-drag-drop .mp-drag-drop-caption-wrapper .mp-drag-drop-caption a:active,.mp-drag-drop-wrapper .mp-drag-drop .mp-drag-drop-caption-wrapper .mp-drag-drop-caption a:hover,.mp-drag-drop-wrapper .mp-drag-drop .mp-drag-drop-caption-wrapper .mp-drag-drop-caption a:link,.mp-drag-drop-wrapper .mp-drag-drop .mp-drag-drop-caption-wrapper .mp-drag-drop-caption a:visited{color:#42bcf2;font-weight:700;text-decoration:underline}.mp-drag-drop-wrapper .mp-drag-drop .mp-drag-drop-caption-wrapper input{opacity:0;appearance:none;-moz-appearance:none;-webkit-appearance:none;width:100%;height:100%;position:absolute;top:0;left:0}.mp-drag-drop-wrapper .mp-drag-drop-confirm .col-sm-6{text-align:center}.mp-drag-drop-wrapper .mp-drag-drop-confirm .mp-drag-drop-confirm-wrapper .mp-drag-drop-buttons-wrapper{position:relative;top:40px}.mp-drag-drop-wrapper .mp-drag-drop-confirm .mp-drag-drop-confirm-wrapper .mp-drag-drop-buttons-wrapper .btn{display:inline-block;margin:0}.mp-drag-drop-wrapper .mp-drag-drop-confirm .mp-drag-drop-confirm-wrapper .mp-drag-drop-buttons-wrapper .btn:nth-child(2){margin-left:16px!important}.mp-drag-drop-wrapper .mp-drag-drop-confirm .mp-drag-drop-confirm-wrapper .mp-drag-drop-spinner{position:relative;width:100%;height:100%;transform-style:preserve-3d;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d}.mp-drag-drop-wrapper .mp-drag-drop-confirm .mp-drag-drop-confirm-wrapper .mp-drag-drop-spinner .mp-drag-drop-spinner-overlay{position:absolute;width:100%;height:100%;top:0;left:0;background:#FFF;opacity:.85}.mp-drag-drop-wrapper .mp-drag-drop-confirm .mp-drag-drop-confirm-wrapper .mp-drag-drop-spinner .mp-drag-drop-spinner-gif{width:32px;height:32px;display:block;visibility:hidden;float:none;opacity:1;filter:alpha(opacity=100);margin:0;background-image:url(/wp-admin/images/wpspin_light-2x.gif);background-size:32px 32px;background-position:center center;background-repeat:no-repeat;position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%)}.mp-drag-drop-wrapper .mp-drag-drop-confirm .mp-drag-drop-confirm-wrapper .mp-drag-drop-spinner .mp-drag-drop-spinner-progress{position:absolute;top:65%;left:50%;font-weight:700;transform:translateX(-50%) translateY(-50%);-moz-transform:translateX(-50%) translateY(-50%);-webkit-transform:translateX(-50%) translateY(-50%)}.mp-drag-drop-wrapper .mp-drag-drop-confirm .mp-drag-drop-confirm-wrapper .mp-mascot-image{display:inline-block;position:relative;top:8px;left:8px;text-align:center;height:100px;background-size:cover;background-repeat:no-repeat}.mp-drag-drop-wrapper .mp-drag-drop .mp-drag-drop-caption-wrapper,.mp-drag-drop-wrapper .mp-drag-drop-confirm .mp-drag-drop-confirm-wrapper,.mp-drag-drop-wrapper .mp-drag-drop-confirm .mp-drag-drop-spinner-wrapper{position:relative;width:100%;height:100%;transform-style:preserve-3d;-moz-transform-style:preserve-3d;-webkit-transform-style:preserve-3d}/*!
*/

* * * * * * * * * * * * * * * * * *
* Multi Select
* * * * * * * * * * * * * * * * * *
*/
.multiselect-selected {
    width: 100px;
}
*/
