.nav-pills > li > a {
    color: #000;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #000;
    background-color: #fff;
    border-bottom: 4px solid #55bce7;
}
.nav-pills > li > a:hover {
    color: #55BCE7;
}

.black-text-color {
color:black;
}
